.btn {
  display: inline-block;
  padding: 15px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #33c7fd;
  color: #ffffff;
  cursor: pointer;
}
